
.jumbotron{
  background-image: url("https://bit.ly/2Tis58v");
  background-size: cover;
  text-align: center;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: medium;
  font-weight: 800;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
#footer{
  text-align: center;
}