
#jacinta{
  background-image: url("https://go.aws/3cvui8o");
  background-size: cover;
  text-align: center;
  color: brown;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 40px;
}

#footer{
  text-align: center;
}